In [66]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_maps_key

In [64]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2022-11-19 18:03:37,-21.2000,-175.2000,76.77,74,20,8.52
1,1,Punta Arenas,CL,2022-11-19 18:03:38,-53.1500,-70.9167,53.71,35,20,34.52
2,2,Kapaa,US,2022-11-19 18:03:38,22.0752,-159.3190,76.10,86,20,17.27
3,3,Cabo San Lucas,MX,2022-11-19 18:03:39,22.8909,-109.9124,80.62,63,75,2.30
4,4,Zhezkazgan,KZ,2022-11-19 18:03:39,47.8043,67.7144,30.11,70,100,1.95

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_maps_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
city_data_df.count()

City_ID       559
City          559
Country       555
Date          559
Lat           559
Lng           559
Max Temp      559
Humidity      559
Cloudiness    559
Wind Speed    559
dtype: int64

In [41]:
city_data_df = city_data_df.dropna(how = 'any')

In [42]:
city_data_df.count()

City_ID       555
City          555
Country       555
Date          555
Lat           555
Lng           555
Max Temp      555
Humidity      555
Cloudiness    555
Wind Speed    555
dtype: int64

In [43]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [44]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2022-11-19 18:03:37,-21.2000,-175.2000,76.77,74,20,8.52
2,2,Kapaa,US,2022-11-19 18:03:38,22.0752,-159.3190,76.10,86,20,17.27
3,3,Cabo San Lucas,MX,2022-11-19 18:03:39,22.8909,-109.9124,80.62,63,75,2.30
8,8,Georgetown,MY,2022-11-19 17:59:18,5.4112,100.3354,78.89,94,40,2.30
12,12,Cayenne,GF,2022-11-19 18:00:08,4.9333,-52.3333,87.84,58,90,11.50
13,13,Grand-Lahou,CI,2022-11-19 18:03:41,5.1367,-5.0242,79.07,77,40,3.51
14,14,Atuona,PF,2022-11-19 18:03:42,-9.8000,-139.0333,76.84,74,28,10.29
19,19,Castro,BR,2022-11-19 18:01:59,-24.7911,-50.0119,77.58,41,0,0.63
26,26,Sabang,ID,2022-11-19 18:03:46,5.8933,95.3214,81.46,78,100,16.75
33,33,Bundaberg,AU,2022-11-19 18:03:48,-24.8500,152.3500,75.22,81,8,5.99

In [45]:
preferred_cities_df.count()

City_ID       161
City          161
Country       161
Date          161
Lat           161
Lng           161
Max Temp      161
Humidity      161
Cloudiness    161
Wind Speed    161
dtype: int64

In [46]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0            Vaini      TO     76.77 -21.2000 -175.2000
2            Kapaa      US     76.10  22.0752 -159.3190
3   Cabo San Lucas      MX     80.62  22.8909 -109.9124
8       Georgetown      MY     78.89   5.4112  100.3354
12         Cayenne      GF     87.84   4.9333  -52.3333
13     Grand-Lahou      CI     79.07   5.1367   -5.0242
14          Atuona      PF     76.84  -9.8000 -139.0333
19          Castro      BR     77.58 -24.7911  -50.0119
26          Sabang      ID     81.46   5.8933   95.3214
33       Bundaberg      AU     75.22 -24.8500  152.3500

In [47]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_maps_key
}

In [53]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [54]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Vaini,TO,76.77,-21.2000,-175.2000,Keleti Beach Resort
2,Kapaa,US,76.10,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Cabo San Lucas,MX,80.62,22.8909,-109.9124,Hotel Tesoro Los Cabos
8,Georgetown,MY,78.89,5.4112,100.3354,Cititel Penang
12,Cayenne,GF,87.84,4.9333,-52.3333,Hôtel Le Dronmi
13,Grand-Lahou,CI,79.07,5.1367,-5.0242,Hotel Beatitude de Grand Lahou
14,Atuona,PF,76.84,-9.8000,-139.0333,Villa Enata
19,Castro,BR,77.58,-24.7911,-50.0119,CHACARA BAILLY
26,Sabang,ID,81.46,5.8933,95.3214,Hotel Citra
33,Bundaberg,AU,75.22,-24.8500,152.3500,Takalvan Motel

In [57]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [61]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))